<html>
<head></head>
<body>

  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>RESULTS!</h4> That's what I like to see!<br/> Edit, copy and paste into a text! :)
  </div>

  <form action="/send-text" method="post">
    <textarea class="field span6" name="pt_results" rows="10" cols="100"><%= patient.age %> y/o G<%= patient.g %> P<%= patient.p %> @<%= patient.at_weeks %>.<%= patient.at_days %> by <%= patient.by_weeks %>.<%= patient.by_days %> wk US <%= patient.ultrasound %>. PNC = <%= patient.prenatal_care %>. Placenta <%= patient.placenta %>. GBS <%= patient.group_b_strep %>. 1-hr <%= patient.one_hr_diabetes %>. 3-hr <%= patient.three_hr_diabetes %>. Hx <%= patient.history %> x <%= patient.times_delivery_type %>. Largest <%= patient.largest_baby_birthed %>#. EFW <%= patient.estimated_fetal_weight_lbs %>.<%= patient.estimated_fetal_weight_oz %># by <%= patient.efw_by %>. SVE @ <%= patient.sterile_vaginal_exam_time %> <%= patient.sve_dilation %>/<%= patient.sve_effacement %>/<%= patient.sve_station %>. Admit: <%= patient.comment %>
    </textarea>
    <input type="submit" class="btn btn-primary" value="Send Text!"/></p> **Text sending only works for Tiare currently**
  </form>
  <a href="/">Back to Input Form</a>

  <p>Your feedback - bad or good - and feature requests are welcome and greatly appreciated!</p>

</body>
</html>


