<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<textarea name="textarea" rows="10" cols="40">
  <%= patient.age %> y/o G<%= patient.g %> P<%= patient.p %>
  @<%= patient.at %> by <%= patient.week %>wk US <%= patient.us %>.
  PNC = <%= patient.pnc %>.  Placenta <%= patient.placenta %>.
  GBS <%= patient.gbs %>.  1-hr <%= patient.one_hr %>.  3-hr <%= patient.three_hr %>.
  Hx <%= patient.hx %> x <%= patient.x %>.
  Largest <%= patient.largest %>#.   EFW <%= patient.efw %># by <%= patient.by_2nd %>.
  SVE @ <%= patient.sve_time %> <%= patient.sve1 %>/<%= patient.sve2 %>/<%= patient.sve3 %>.
  Admit: <%= patient.comment %>
</textarea>
</p>
</body>
</html>