<html>
<head></head>
<body>
<p><%= patient.age %> y/o G<%= patient.g %> P<%= patient.p %><br/>
  @<%= patient.at %> by <%= patient.week %>wk US <%= patient.us %><br/>
  PNC = <%= patient.pnc %>. Placenta <%= patient.placenta %>.<br/>
  GBS <%= patient.gbs %> 1-hr <%= patient.one_hr %> 3-hr <%= patient.three_hr %>.<br/>
  Hx <%= patient.hx %> x <%= patient.x %> <br/>
  Largest <%= patient.largest %># EFW <%= patient.efw %># by <%= patient.by_2nd %><br/>
  SVE @ <%= patient.sve_time %> <%= patient.sve1 %>/<%= patient.sve2 %>/<%= patient.sve3 %><br/>
  Admit: <%= patient.comment %>
</p>
</body>
</html>